:root {
  --bg-color: #264653;
  --fg-color: #e76f51;
}

html {
  height: 100%;
  background-color: var(--bg-color);
}

body {
  margin: 0 auto;
  min-height: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

main {
  background-color: var(--bg-color);
}

h1 {
  color: var(--fg-color);
  text-align: center;
  font-size: 1em;
  margin: 0.5em;
}

form {
  max-width: 60em;
  margin: 0 auto;
  padding: 0.5em;
}

#container {
  position: relative;
  height:60vh; width:95vw;
  margin: 0 auto;
}

canvas {
  max-width: 60em;
  margin: 0 auto;
  background-color: var(--bg-color);
}

div.pure-control {
  display: flex;
  column-gap: 0.5em;
  row-gap: 0.5em;
  flex-wrap: wrap;
}

div.pure-control > *{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 6em;
}


form input{
  margin: 0.5em;
}

#alignstart, #smooth {
  margin: 0;
}

@media all and (max-width: 1300px) {
  div.pure-control {
    grid-template-columns: auto auto auto;
  }

  #container {
    margin: 0 0.5em;
  }
}

@media all and (max-width: 600px) {
  div.pure-control {
    grid-template-columns: 45vw 45vw;
  }
}