html {
  background-color: #333;
}

body {
  margin: 0 auto;
}

main {
  background-color: #444;
}

form {
  max-width: 80em;
  width: 95%;
  margin: 0 auto;
  padding: 0.5em;
}

canvas {
  max-width: 80em;
  margin: 0 auto;
  background-color: #333;
}

div.pure-control {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center; 
  justify-content: center;
  column-gap: 0.5em;
  row-gap: 0.5em;
}

form div{
  display: table;
  margin: 0 auto;
}

form input{
  margin: 0.5em;
}

html {
  height: 90%;
}

body {
  min-height: 90%;
  display: grid;
  grid-template-rows: auto 1fr;
}

#alignstart {
  margin: 0;
}


@media all and (max-width: 1300px) {
  div.pure-control {
    grid-template-columns: auto auto auto;
  }

  #container {
    margin: 0 0.5em;
  }
}

@media all and (max-width: 600px) {
  div.pure-control {
    grid-template-columns: auto auto;
  }
}

h1 {
  color: #EEE;
  text-align: center;
  font-size: 1em;
  margin: 0.5em;
}